.sidecontainer {
  display: inline-flex;
  width: 100%;
}
.container {
  display: flex;
}
#info_table_div {
  margin-top: 20px;
  margin-left: 20px;
  justify-content: center;
}
#info_table {
  border-top: 1px;
  width:1000px;
  height:400px;
}
td, th {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.info_name{
  width: 100px;
  text-align: left; 
}
#approve_div {
  justify-content: right;
  margin-right: 50px;
}
#bottom_div {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  justify-content: space-between;
}
button{
  height: 40px;
}
.btn {
  margin: 10px;
  width: 100%;
  padding: 10px;
  background-color: #F67280;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease; /* 버튼 배경색 변경에 애니메이션 추가 */
  text-align: center;
}