.sidecontainer {
    display: inline-flex;
    width: 100%;
    height : auto;
  }
  
@font-face {
    font-family: 'WAGURITTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'WAGURITTF', sans-serif;
}


.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    text-align: center;
}

.btn-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.my-btn {
    padding: 10px 20px;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.my-btn1 {
    background-color: #F67280;
}

.my-btn2 {
    background-color: coral;
}

.my-btn3 {
    background-color: cornflowerblue;
}

.my-btn4 {
    background-color:indianred ;
}

.my-btn:hover {
    transform: scale(1.05);
}

.my-btn:active {
    transform: scale(0.95);
}

.btnHeader1 {
    background-color:cornflowerblue;
    border-color: cornflowerblue;
    float: right;
    color: #FFFFFF;
    font-family: 'WAGURITTF';
    padding: 10px 30px;
    margin: 3px;
    border-radius: 5px;
    width: 150px;
}

.btnHeader1:hover {
    background-color: #6C5B7B;
    border-color: #6C5B7B;
}

.btnHeader2 {
    background-color:coral;
    border-color: coral;
    float: right;
    color: #FFFFFF;
    font-family: 'WAGURITTF';
    padding: 10px 30px;
    margin: 3px;
    border-radius: 5px;
    width: 150px;
}

.btnHeader2:hover {
    background-color: #6C5B7B;
    border-color: #6C5B7B;
}

.btnHeader3 {
    background-color:deepskyblue;
    border-color: deepskyblue;
    float: right;
    color: #FFFFFF;
    font-family: 'WAGURITTF';
    padding: 10px 30px;
    margin: 3px;
    border-radius: 5px;
    width: 150px;
}

.btnHeader3:hover {
    background-color: #6C5B7B;
    border-color: #6C5B7B;
}

.btnHeader4 {
    background-color: indianred;
    border-color: indianred;
    float: right;
    color: #FFFFFF;
    font-family: 'WAGURITTF';
    padding: 10px 30px;
    margin: 3px;
    border-radius: 5px;
    width: 150px;
}

.btnHeader4:hover {
    background-color: #6C5B7B;
    border-color: #6C5B7B;
}