.sidecontainer {
    display: inline-flex;
    width: 100%;
    height : auto;
  }

@font-face {
    font-family: 'WAGURITTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'WAGURITTF', sans-serif;
}

.container {
    max-width: 400px;
    height: 200px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.input1 {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn1 {
    width: 90%;
}

.btn2 {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn3 {
    margin: 0px 5px;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    background-color: #F67280;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn3:hover {
    background-color: #C06C84;
    transform: scale(1.05);
}

.btn3:active {
    transform: scale(0.95);
}

.btn4 {
    margin: 0px 5px;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    background-color:#ddd;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.btn4:hover {
    background-color: #C06C84;
    transform: scale(1.05);
}

.btn4:active {
    transform: scale(0.95);
}

.btnHeader {
    background-color: #F67280;
    border-color: #F67280;
    float: right;
    color: #FFFFFF;
    font-family: 'WAGURITTF';
    padding: 10px 30px;
    margin: 10px;
    border-radius: 5px;
}

.btnHeader:hover {
    background-color: #6C5B7B;
    border-color: #6C5B7B;
}