.menu_div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center; /* 가운데 정렬(세로) */
    margin-bottom: 20px; /* 밑으로 여백 */
}

.menu_div a{
    text-decoration: none;/* 밑줄을 없앰 */
    font-size: 30px;
    background-color:#F67280; /* 배경색 변경 */
    border-radius: 10px; /* 둥근모서리 */
    color: #000; /* 텍스트 색상변경 */
}


.table_div{
    width: 100%;
    text-align: center;
}

.table_div table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;/* 셀 간격 없앰 */
}

.table_div tr{
    height: 50px;
}

.table_div td{
    border: 1px solid #000;
}

.button_div{
    margin-top: 20px;
}

.button_div input[type="button"]{
    font-size: 15px; /* 글자 크기 */
    padding: 7px 15px; /* 내부 여백 */
    margin: 20px; /* 버튼 간격 */
    width: 100px; /* 버튼 너비 */
    height: 40px; /* 버튼 높이 */
    background-color: #F67280;
    border-color: aliceblue;
}