@font-face {
    font-family: 'HancomMalangMalang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: 'HancomMalangMalang-Regular';
}

.sidecontainer {
    display: inline-flex;
    width: 100%;
    height : auto;
  }

.table_div{
    width: 100%;
    text-align: center;
}

.body_div{
    width: 100%;
}

.menu_div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center; /* 가운데 정렬(세로) */
    margin-bottom: 20px; /* 밑으로 여백 */
}


table {
    width: 100%;
    border-top: 1px solid #d3d3d3;
    border-collapse: collapse;
  }
  th {
    background-color: white;
    border-top: 1px solid #727272;
  }
  th,
  td {
    border-bottom: 1px solid;
    padding: 10px;
  }


  
  #password {
      display: none;
    }
    
#fileBtn{ 
    margin-left: auto; /* 검색박스를 오른쪽 정렬 */
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    background-color: #F67280;
    border-color: #F67280;
    /* float: right; */
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 15px; /* 글자 크기 */

}

#listBtn{ 
    margin-left: auto; /* 검색박스를 오른쪽 정렬 */
    background-color: #F67280;
    border-color: #F67280;
    /* float: right; */
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 15px; /* 글자 크기 */
    padding: 7px 15px; /* 내부 여백 */
    width: 100px; /* 버튼 너비 */
    height: 40px; /* 버튼 높이 */
}

#registrationBtn{ 
    margin-left: auto; /* 검색박스를 오른쪽 정렬 */
    background-color: #F67280;
    border-color: #F67280;
    /* float: right; */
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 15px; /* 글자 크기 */
    padding: 7px 15px; /* 내부 여백 */
    width: 100px; /* 버튼 너비 */
    height: 40px; /* 버튼 높이 */
}

#fileBtn:hover {
    background-color: #6C5B7B;
    border-color: #6C5B7B;
}

#registrationBtn:hover {
    background-color: #6C5B7B;
    border-color: #6C5B7B;
}

#listBtn:hover {
    background-color: #6C5B7B;
    border-color: #6C5B7B;
}


#privateMember{
    transform: scale(2);
}

#control{
    text-align: right;
}

#password {
    width: auto;
}