@font-face {
    font-family: 'WAGURITTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HancomMalangMalang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

header{ 
    font-family: 'WAGURITTF';
    height: 100px;
    
}

ul.menu {
    position: relative;
    top: -123px;
    left: 82px;
    list-style: none;
}

ul.menu > li {
    display: inline-flex;
    font-size: 23px;
    margin-right: 199px;
}

ul.menu > li > a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 링크 색상을 상속받아 제거 */
    background: none; /* 배경 색상 제거 */
    border: none; /* 테두리 제거 */
}

ul.menu> li >a >img {
    position: relative;
    top: 7px;
}

.btnHeader {
    background-color: #F67280;
    border-color: #F67280;
    float: right;
    color: #FFFFFF;
    font-family: 'WAGURITTF';
    padding: 10px 30px;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btnHeader:hover {
    background-color: #6C5B7B;
    border-color: #6C5B7B;
}
