@font-face {
    font-family: 'WAGURITTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  h1{
      font-family: 'WAGURITTF';
    }
  th{ 
     font-family: 'WAGURITTF';
    }
.menu li{
    
    float: left;
    display: inline;
    font-size: 20px;   
}